<form action="" form-name="email" {{attributes}}>
    <div class="input-group mb-3">
     {{ element.elements.email }}
    <div class="input-group-append">
         {{ element.elements.message }}
        {{ element.elements.form_build_id }}
        {{ element.elements.form_token }}
        {{ element.elements.form_id }}  
        {{ element.elements.actions }}
    </div>
</form>